/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.45) !important;
  backdrop-filter: blur(3px) !important;
  border-radius: 16px !important;
  border: none !important;
  outline: 0px !important;
}

.monaco-resizable-hover {
  border: none !important;
}

/* Command Palette */
.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.35) !important;
  padding: 15px 10px 15px 10px !important;
  backdrop-filter: blur(3px) !important;
  border-radius: 20px !important;
  font-size: 14px;
  font-family:'FiraCode Nerd Font';
}

.quick-input-list,
.quick-input-list .list_id_6 {
  min-height: 350px !important;
}

/* Remove background for lists */
.monaco-list-rows {
  background: transparent !important;
}

#command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, .15); */
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
}

/* Actions after command palette text input */
/* .quick-input-inline-action-bar .actions-container .action-item{
	margin-bottom: 16px !important; 
} */
.quick-input-header {
  align-items: center;
}